name: E2E Tests

on:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
          
      - name: Clean npm cache
        run: npm cache clean --force
        
      - name: Install dependencies
        run: npm ci --legacy-peer-deps
          
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          install: false
          start: npm start
          browser: chrome
      
      - name: Upload Screenshots
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-screenshots-chrome
          path: cypress/screenshots